{% extends 'base.html.twig' %}

{% block title %}View Project
{% endblock %}

{% block sidebar_title %}
	ProjectFlow
{% endblock %}

{% block sidebar_subtitle %}
	Software Project
{% endblock %}

{% block body %}
	<div>
		Project view templated created for testing purposes
	</div>
{% endblock %}
