{% extends 'base.html.twig' %}

{% block title %}Projects
{% endblock %}

{% block body %}
	<div class="px-2 py-4 lg:px-6 lg:py-8">
		<h1 class="text-4xl font-bold mb-8">Projects</h1>
		<a href="{{ path('dashboard_projects_create') }}" class="btn btn-primary">Create Project</a>
		<ul class="w-full flex-col">
			{% for project in projects %}
				<li>
					<a class="block rounded-xl w-full mb-2 p-5 font-bold text-xl text-white bg-red-500 hover:bg-red-800" href="{{ url('app_project', {id: project.id})}}">{{ project.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
