{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}
    <h1>Edit Task</h1>
    {{ form_start(form, {'attr': {'action': path('task_edit', {'id': task.id})}}) }}
    {{ form_widget(form) }}
    <button type="submit">Save Changes</button>
    {{ form_end(form) }}
{% endblock %}
