{% extends 'base.html.twig' %}

{% block title %}View Task
{% endblock %}

{% block body %}
	<div class="flex">
		<div class="flex-grow px-2 py-4 lg:px-6 lg:py-8">
			<div class="flex flex-col lg:flex-row-reverse lg:justify-end lg:items-center lg:gap-4 lg:mb-8">
				<div class="bg-pf-sky-blue p-4 rounded-lg flex justify-between items-center mb-6 lg:mb-0 lg:py-2 lg:px-6">
					<h1 class="text-2xl font-bold lg:font-normal">PN-112</h1>
					<button class="lg:hidden">{{ ux_icon('fa-solid:bars', {class: 'w-8 h-8'}) }}</button>
				</div>
				<h2 class="text-4xl font-bold mb-6 lg:mb-0">{{ task.name }}</h2>
			</div>
			<div class="mb-6 lg:mb-8">
				<p class="text-xl mb-2">Description</p>
				<div class="bg-pf-cyan-light border-pf-cyan border-2 rounded-lg min-h-48 px-6 py-4">
					<span>{{ task.description }}</span>
				</div>
			</div>
			<div class="mb-6 lg:mb-8">
				<p class="text-xl mb-2">Comments</p>
				<div class="flex flex-row justify-center align-items-center gap-2 mb-2">
					<button class="bg-pf-cyan-blue text-white rounded-lg p-3 text-lg w-full">Internal</button>
					<button class="bg-pf-cyan-light rounded-lg p-3 text-lg w-full">External</button>
				</div>
				<div>
					<textarea class="bg-pf-cyan-light border-pf-cyan border-2 rounded-lg min-h-48 w-full px-6 py-4 resize-none" name="comment" id="comment" placeholder="Write a comment..."></textarea>
					<button class="bg-pf-cyan-light rounded-lg p-3 w-full">Comment</button>
				</div>
			</div>
		</div>
		<aside class="task-sidebar hidden lg:block w-80 h-screen bg-pf-sky-blue"></aside>
	</div>
{% endblock %}
